<?xml version="1.0" encoding="UTF-8"?>
<!--
    JUnit Testing Concept Implementation - PHPUnit Configuration
    
    This configuration file is similar to JUnit's test configuration.
    It tells PHPUnit where to find test files and how to run them.
-->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.5/phpunit.xsd"
         bootstrap="../vendor/autoload.php"
         colors="true"
         verbose="true">
    
    <testsuites>
        <testsuite name="FormValidator Tests">
            <directory>.</directory>
        </testsuite>
    </testsuites>
    
    <coverage>
        <include>
            <directory suffix=".php">../tests/utils</directory>
        </include>
    </coverage>
</phpunit>
